<h2>Wall Posts and Comments with Add and Edit Functionality</h2>
<hr />
<p>Current post id: {{ postId }}</p>

<button type="button" ng-click="startCreatingPost()">Create new post</button>

<div ng-if="shouldShowCreatingPost()">
  <h3>Create Post</h3>
  <form ng-submit="submitNewPost(newpost)">
    Title: <input type="title" ng-model="newpost.title" />
    Body: <input type="textarea" ng-model="newpost.body" rows="5" cols="12" />
    <button type="submit">Add</button>
    <button type="submit" ng-click="cancelCreatingPost()">Cancel</button>
  </form>
</div>

<div class="posts" ng-if="posts">
  <div class="post" ng-repeat="post in posts | orderBy:-id">
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
    <div class="comments" ng-if="post.comments">
      <div class="comment" ng-repeat="comment in post.comments">
        {{comment.text}}
        <div class="comment-edit-form">
          <form ng-submit="comment.$save()">
            <label for="comment-edit-subject" value="Subject" /><input name="comment-edit-subject" ng-model="comment.subject">
            <label for="comment-edit-body" value="Body" /><input name="comment-edit-body" ng-model="comment.body">
            <input type="submit">
          </form>
        </div>
      </div><!-- End Comments -->
  </div><!-- End Post -->
</div><!-- End Posts -->

